.top-right-menu-btn > svg {
        fill: rgb(18, 18, 18);
        height: 36px;
        width: 36px;
}

.top-right-menu-wrapper {
	position: absolute;
	top: 1%;
	right: 1%;
}

.top-right-menu ul, .top-right-menu div div, .top-right-menu ul, .top-right-menu div div ul {
	background-color: rgb(18, 18, 18) !important;
        color: rgb(255, 255, 255);
        border: none !important;
}