.container {
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
	height: 100%;
	padding-top: 2.5%;
	width: 80%;
	margin: 0 auto;
}

.admin-form {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 30px;
}

.admin-form-body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.password-input {
	width: 100%;
	border-radius: var(--border-radius-form);
	width: 300px;
	height: 45px;
	margin-bottom: 40px;
	padding: 0.5rem 1rem;
}
.password-input::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-text);
	padding-left: 2.5%;
}

.submit-button {
	width: 100px;
	align-self: flex-end;
}
